numpy
pandas
tqdm
rank_bm25
sentence-transformers
faiss-cpu
pypdf
rapidfuzz
nltk
requests                        # for Ollama API calls

# Added for backend API and utilities
flask
flask_cors
python-dotenv
scikit-learn
PyPDF2
beautifulsoup4
markdown-it-py
requests