.current-streak {
  width: 279px;
  height: 149px;
}

.streak-card {
  width: 100%;
  height: 100%;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #EAECF0;
  background: #FFF;
  box-shadow: 0 1px 3px 0 rgba(16, 24, 40, 0.10), 0 1px 2px 0 rgba(16, 24, 40, 0.06);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.streak-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.streak-title {
  color: #667085;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.streak-icon {
  width: 69px;
  height: 69px;
  flex-shrink: 0;
}

.streak-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.streak-number {
  margin-bottom: 16px;
}

.number {
  color: #101828;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
}

.streak-message {
  flex: 1;
}

.message-text {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.primary-text {
  color: #BC2626;
}

.secondary-text {
  color: #F24343;
}
