@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --basewhite: rgba(255, 255, 255, 1);
  --charts-group-font-family: "Roboto", Helvetica;
  --charts-group-font-size: 12px;
  --charts-group-font-style: normal;
  --charts-group-font-weight: 400;
  --charts-group-letter-spacing: 0px;
  --charts-group-line-height: 165.9999966621399%;
  --colors-white-100: rgba(255, 255, 255, 1);
  --display-sm-medium-font-family: "Inter", Helvetica;
  --display-sm-medium-font-size: 30px;
  --display-sm-medium-font-style: normal;
  --display-sm-medium-font-weight: 500;
  --display-sm-medium-letter-spacing: 0px;
  --display-sm-medium-line-height: 38px;
  --display-sm-semibold-font-family: "Inter", Helvetica;
  --display-sm-semibold-font-size: 30px;
  --display-sm-semibold-font-style: normal;
  --display-sm-semibold-font-weight: 600;
  --display-sm-semibold-letter-spacing: 0px;
  --display-sm-semibold-line-height: 38px;
  --gray-100: rgba(242, 244, 247, 1);
  --gray-200: rgba(234, 236, 240, 1);
  --gray-300: rgba(208, 213, 221, 1);
  --gray-500: rgba(102, 112, 133, 1);
  --gray-700: rgba(52, 64, 84, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --m3-headline-medium-emphasized-font-family: "Roboto", Helvetica;
  --m3-headline-medium-emphasized-font-size: 28px;
  --m3-headline-medium-emphasized-font-style: normal;
  --m3-headline-medium-emphasized-font-weight: 500;
  --m3-headline-medium-emphasized-letter-spacing: 0px;
  --m3-headline-medium-emphasized-line-height: 36px;
  --neutral-white: rgba(255, 255, 255, 1);
  --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px
    rgba(16, 24, 40, 0.1);
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --text-lg-medium-font-family: "Inter", Helvetica;
  --text-lg-medium-font-size: 18px;
  --text-lg-medium-font-style: normal;
  --text-lg-medium-font-weight: 500;
  --text-lg-medium-letter-spacing: 0px;
  --text-lg-medium-line-height: 28px;
  --text-md-medium-font-family: "Inter", Helvetica;
  --text-md-medium-font-size: 16px;
  --text-md-medium-font-style: normal;
  --text-md-medium-font-weight: 500;
  --text-md-medium-letter-spacing: 0px;
  --text-md-medium-line-height: 24px;
  --text-md-normal-font-family: "Inter", Helvetica;
  --text-md-normal-font-size: 16px;
  --text-md-normal-font-style: normal;
  --text-md-normal-font-weight: 400;
  --text-md-normal-letter-spacing: 0px;
  --text-md-normal-line-height: 24px;
  --text-sm-medium-font-family: "Inter", Helvetica;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-font-style: normal;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-normal-font-family: "Inter", Helvetica;
  --text-sm-normal-font-size: 14px;
  --text-sm-normal-font-style: normal;
  --text-sm-normal-font-weight: 400;
  --text-sm-normal-letter-spacing: 0px;
  --text-sm-normal-line-height: 20px;
  --text-xs-medium-font-family: "Inter", Helvetica;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-font-style: normal;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 18px;
  --text-xs-normal-font-family: "Inter", Helvetica;
  --text-xs-normal-font-size: 12px;
  --text-xs-normal-font-style: normal;
  --text-xs-normal-font-weight: 400;
  --text-xs-normal-letter-spacing: 0px;
  --text-xs-normal-line-height: 18px;
  --w-300: rgba(124, 212, 253, 1);
  --w-500: rgba(11, 165, 236, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
